# This is a basic workflow to help you get started with Actions

name: Generate release-artifacts

# Controls when the workflow will run
on:
  release:
    types:
      - created

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  generate:
    name: Generate cross-platform builds
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Generate build files
        uses: thatisuday/go-cross-build@v1
        with:
            platforms: 'linux/amd64, darwin/amd64, windows/amd64'
            package: 'main.go'
            name: 'fsex'
            compress: 'true'
            dest: 'dist'
      - name: Publish builds
        uses: actions/upload-artifact@v3.1.0
        with:
          path: |
            fsex-darwin-amd64.tar.gz
            fsex-linux-amd64.tar.gz
            fsex-windows-amd64.tar.gz
